*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;

}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

}
.col-3{
    width: 25%;
    padding: 0 15px;


}
.box{
    height: 50px;
    background-color: #000;
    color: white;
    margin-bottom: 20px;
}
.section-title{
    text-align: center;
    font-size: 55px;
    margin-bottom: 30px;

}